.react-datepicker-wrapper {

    display: block;

    .react-datepicker__input-container {
        display: flex;
        // justify-content: center;
        align-items: center;

        input {
            padding-left: 10px;
        }

        svg {
            right: 5px;
        }
    }

}

