$primary: SeaGreen;

:root {
    --toastify-color-success: rgb(0, 79, 0) !important;
    // --toastify-color-warn: var(--toastifiy-color-warn) !important;
    // --toastify-color-progress-warning: SeaGreen !important;
    --toastify-text-color-light: SeaGreen !important;
    --toastify-color-light: honeydew !important;
}

.Toastify__toast--close-on-click {
    cursor: auto !important;
}

.Toastify__toast-container--top-center {

}

.modal-body, .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Toastify__toast {
    border: 0.5px solid rgba(46,139,87,0.15);
    box-shadow: 0 0 50px #0000001a, 0 0 25px #0000000d !important;
    width: max-content !important;
}

.Toastify__toast--warning {
    color: #473900 !important;
}

.profile-header {
    color: $primary;
    // -webkit-text-stroke: 1px black;
}

.invalid-feedback {
    color: rgb(220, 53, 69);
}